@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{

   var headlineContent3 = Model?.Content.Value<string>("headlineContent3"); 

}

@if(!string.IsNullOrEmpty(headlineContent3))
{
      <h3>@headlineContent3</h3>   
}
