@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{

   var headlineContent6 = Model?.Content.Value<string>("headlineContent6"); 

}

@if(!string.IsNullOrEmpty(headlineContent6))
{
      <h3>@headlineContent6</h3>   
}