@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    
    var linkUrl = Model?.Content.Value<string>("linkUrl") ?? "";
    var linkText = Model?.Content.Value<string>("linkText") ?? "Click here";
    var isExternal = Model?.Content.Value<bool>("isExternal") ?? false;
}

@if (!string.IsNullOrEmpty(linkUrl))
{
    <a href="@linkUrl" @(isExternal ? "target=\"_blank\" rel=\"noopener noreferrer\"" : "")>
        @linkText
    </a>
}
