@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    
    var quoteContent = Model?.Content.Value<string>("quotes");
}

@if (!string.IsNullOrEmpty(quoteContent))
{
    <blockquote>
        <p>@quoteContent</p>
    </blockquote>
}
