<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="265ff81d-651f-4fa7-b5c6-a2e2e184488f" Alias="projectsPage" Level="2">
  <Info>
    <Name>Projects Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>projectsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6d9a5844-d857-4844-b4b8-f248a04d02e5">projectsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="aca6d66f-d60b-4350-b733-45ae785c1173" SortOrder="0">annualReport</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>40c65ca9-ec41-4df7-8987-85dfb95c3efb</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>00851cef-617e-4c01-8ce2-9b1e13eaa13e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>