<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02a87fa2-7381-4843-b27f-f0c6c19c275f" Alias="servicesPage" Level="2">
  <Info>
    <Name>Services page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>services</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ccec0de8-4dfc-4a52-bce9-7fb96f6f1098">services</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c27c6386-13a8-42aa-9cb8-295935425240" SortOrder="0">riskManagement</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>53c7dd1d-0ad2-4af6-82c1-8b5e6b98bd3d</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>399990be-0959-4023-ac73-ba998fe1c604</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>