/* ----------- FORM ----------- */
.tags-form {
  position:relative;
  background-color: #4f5955;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  color: #d9d9d9;
  margin-top: 20px;
}

.tags-form img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.tags-form input {
  padding: 10px;
  border: none;
  margin-top: 15px;
  width: 100%;
  border-radius: 4px;
}
.tags-form h2{
  color: #fff;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container i {
  position: absolute;
  right: 40px;
  top: 60%;
  transform: translateY(-50%);
  color: #999;
}

.input-container input {
  padding-left: 35px;
}
