<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cec647f-c001-4f98-bd7e-a7ece999654d" Alias="About Us Page " Level="2">
  <Info>
    <Parent Key="a91df975-b91b-4572-a7dd-3e0e6abd0872">Home Page</Parent>
    <Path>/HomePage/AboutUsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUsPage</ContentType>
    <CreateDate>2024-09-18T14:56:24</CreateDate>
    <NodeName Default="About Us Page " />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aa500cf9-1c39-43f0-8c70-ab76a1a9fff5">aboutUsPage</Template>
  </Info>
  <Properties>
    <aboutPageImg>
      <Value><![CDATA[[
  {
    "key": "109cd8c3-1b8c-40c1-9882-bc1a9f2cb369",
    "mediaKey": "23d90b99-6a6c-45a8-b117-bfcfec1aa888",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutPageImg>
    <aboutPageQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutPageQuote>
    <aboutPageText>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </aboutPageText>
    <aboutUsText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.

Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutUsText>
    <ourExpertSectionCardImg>
      <Value><![CDATA[[
  {
    "key": "e1cce30d-8208-4af6-8b01-275915c2efc2",
    "mediaKey": "9ce8c25b-3585-4058-900c-8474089c9920",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertSectionCardImg>
    <ourExpertSectionCardImg2>
      <Value><![CDATA[[
  {
    "key": "451e1ef8-4eee-471d-a2f2-e6be2e09a521",
    "mediaKey": "ebfac7cd-0327-42ed-83c3-1eae2a3ee433",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertSectionCardImg2>
    <ourExpertSectionCardImg3>
      <Value><![CDATA[[
  {
    "key": "ca7a1617-1859-43fd-8f3b-2bddfaf7999c",
    "mediaKey": "f27ec52f-cacd-46ad-a9e6-89aced8c615c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertSectionCardImg3>
    <ourExpertSectionCardImg4>
      <Value><![CDATA[[
  {
    "key": "d4cc383b-afc5-42a6-b59b-45fb968f10f5",
    "mediaKey": "6de7df0b-c0d4-4835-ae15-9c35742b467a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertSectionCardImg4>
    <ourExpertSectionCardImg5>
      <Value><![CDATA[[
  {
    "key": "e08e14b8-e12d-439a-a550-e8bc269436c0",
    "mediaKey": "20b81840-b8b8-4365-bbac-542d50c5fc1b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertSectionCardImg5>
    <ourExpertSectionCardImg6>
      <Value><![CDATA[[
  {
    "key": "9a67ca02-ab2f-40f6-9bf0-a9e3882ab251",
    "mediaKey": "c4aede4e-d96e-417c-9ec5-8ab057a99d44",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertSectionCardImg6>
    <ourExpertSectionCardImg7>
      <Value><![CDATA[[
  {
    "key": "a0ef2ab5-a40f-4219-ac54-4e2b822ab1e7",
    "mediaKey": "7d8f3d6f-7cdb-4ffc-af4c-1526eb99c870",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertSectionCardImg7>
    <ourExpertSectionCardP>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </ourExpertSectionCardP>
    <ourExpertSectionCardP2>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </ourExpertSectionCardP2>
    <ourExpertSectionCardP3>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </ourExpertSectionCardP3>
    <ourExpertSectionCardP4>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </ourExpertSectionCardP4>
    <ourExpertSectionCardP5>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </ourExpertSectionCardP5>
    <ourExpertSectionCardP6>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </ourExpertSectionCardP6>
    <ourExpertSectionCardP7>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </ourExpertSectionCardP7>
    <ourExpertSectionCardSpan>
      <Value><![CDATA[Brandon Newton]]></Value>
    </ourExpertSectionCardSpan>
    <ourExpertSectionCardSpan2>
      <Value><![CDATA[AJ Carter]]></Value>
    </ourExpertSectionCardSpan2>
    <ourExpertSectionCardSpan3>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </ourExpertSectionCardSpan3>
    <ourExpertSectionCardSpan4>
      <Value><![CDATA[Tina Fox]]></Value>
    </ourExpertSectionCardSpan4>
    <ourExpertSectionCardSpan5>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </ourExpertSectionCardSpan5>
    <ourExpertSectionCardSpan6>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </ourExpertSectionCardSpan6>
    <ourExpertSectionCardSpan7>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </ourExpertSectionCardSpan7>
    <ourExpertSectionH1>
      <Value><![CDATA[A team of professionals  <br>  with years of experience]]></Value>
    </ourExpertSectionH1>
    <ourExpertSectionH3>
      <Value><![CDATA[Our expert]]></Value>
    </ourExpertSectionH3>
    <pageTitle>
      <Value><![CDATA[About Us Page]]></Value>
    </pageTitle>
    <reviewsSectionBgImg>
      <Value><![CDATA[[
  {
    "key": "ce5c366f-9715-4858-aa66-dada096fa25b",
    "mediaKey": "0e45a181-0185-4370-8543-29661267bf74",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewsSectionBgImg>
    <reviewsSectionH1>
      <Value><![CDATA[Trusted by some <br>  Biggest Names]]></Value>
    </reviewsSectionH1>
    <reviewsSectionH4>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </reviewsSectionH4>
    <reviewsSectionH5>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </reviewsSectionH5>
    <reviewsSectionImg>
      <Value><![CDATA[[
  {
    "key": "bb1d7d53-1820-4931-b9af-a861d3749e0d",
    "mediaKey": "cf1a13eb-2586-4629-9313-a8d1b18ba393",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewsSectionImg>
    <reviewsSectionP>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </reviewsSectionP>
    <reviewsSectionSwebank>
      <Value><![CDATA[Swebank]]></Value>
    </reviewsSectionSwebank>
  </Properties>
</Content>