<?xml version="1.0" encoding="utf-8"?>
<Content Key="00012efa-f31f-4def-9318-ca5283e0caf8" Alias="annual" Level="3">
  <Info>
    <Parent Key="54dbb094-a708-4c81-941d-20cb284a0a18">Projects</Parent>
    <Path>/HomePage/Projects/annual</Path>
    <Trashed>false</Trashed>
    <ContentType>annualReport</ContentType>
    <CreateDate>2024-09-27T09:37:27</CreateDate>
    <NodeName Default="annual" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0679340d-0cd0-46a0-a799-ff0043b271b3">annualReport</Template>
  </Info>
  <Properties>
    <annualImg1>
      <Value><![CDATA[[
  {
    "key": "4ec9cd6e-16cb-418b-8558-a5bf3067e8eb",
    "mediaKey": "300d20f8-0432-4f84-9ce6-5630d31c74fd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualImg1>
    <annualImg2>
      <Value><![CDATA[[
  {
    "key": "232dc54b-afd4-401a-a6c5-75ada878fe52",
    "mediaKey": "fa01ba32-c714-427d-a778-8cd959a527b6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualImg2>
    <annualImg3>
      <Value><![CDATA[[
  {
    "key": "85a0f054-b6f3-4e6a-83b4-7c7d5b59821c",
    "mediaKey": "2fe09e70-31b1-4634-9154-16a10c37f17c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualImg3>
    <annualImg4>
      <Value><![CDATA[[
  {
    "key": "ad68d4bf-b460-4d00-b736-fda408b3c73e",
    "mediaKey": "1766a5fd-8e23-4cce-bb7d-fd649c9b06d2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualImg4>
    <pageTitle>
      <Value><![CDATA[Annual Report]]></Value>
    </pageTitle>
  </Properties>
</Content>