<?xml version="1.0" encoding="utf-8"?>
<Content Key="34c030fe-6d87-4dd1-9a5c-bd58f6089ad4" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a91df975-b91b-4572-a7dd-3e0e6abd0872">Home Page</Parent>
    <Path>/HomePage/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-21T09:16:17</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3eb264bc-91d3-4de2-bf79-e3c168b09619">contactPage</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ae6a5702-721a-400e-af46-091e51543a54",
      "udi": "umb://element/37fbfb0c17384cf3ae960cb9fa0876bf",
      "donTDisplayLabel": 1,
      "uniqueName": "Name",
      "placeholderText": "Enter your name",
      "inputType": "[\u0022text\u0022]",
      "isRequired": 1,
      "errrorMessage": "You must enter your name",
      "userRegularExpression": 1
    },
    {
      "contentTypeKey": "ae6a5702-721a-400e-af46-091e51543a54",
      "udi": "umb://element/f8b8e3359b1a4e9584b87a9be1418dd2",
      "uniqueName": "email",
      "placeholderText": "Enter your email address",
      "inputType": "[\u0022email\u0022]",
      "isRequired": 1,
      "errrorMessage": "You must enter your email address"
    },
    {
      "contentTypeKey": "5ce6cc5c-cf73-45a1-aa77-fb4be42b152c",
      "udi": "umb://element/a7be735e9d234b9597ec8008bfa5b057",
      "uniqueName": "message",
      "placeholderText": "Enter your mesaage ...",
      "isRequired": 1,
      "errrorMessage": "You must enter your a message"
    },
    {
      "contentTypeKey": "25c71e5c-ddb4-4ac0-b52c-c9a485657a19",
      "udi": "umb://element/b22142a0770b4124ad5800678c96cdcb",
      "buttonText": "Submit",
      "buttonType": "[\u0022submit\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/37fbfb0c17384cf3ae960cb9fa0876bf",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/f8b8e3359b1a4e9584b87a9be1418dd2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a7be735e9d234b9597ec8008bfa5b057",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b22142a0770b4124ad5800678c96cdcb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactForm>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
  </Properties>
</Content>