<?xml version="1.0" encoding="utf-8"?>
<Content Key="417d626d-4e4c-4f45-9da5-c41d2c378778" Alias="Global Partials" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalPartials</Path>
    <Trashed>false</Trashed>
    <ContentType>globalPartials</ContentType>
    <CreateDate>2024-09-28T16:52:57</CreateDate>
    <NodeName Default="Global Partials" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <servicesSectionHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </servicesSectionHeadline>
    <servicesSectionItemImg1>
      <Value><![CDATA[[
  {
    "key": "c5b3829b-3cc1-4c6c-b26d-9a6b0ab22da8",
    "mediaKey": "78220451-3baf-4c9d-aee8-b6f75af4664b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesSectionItemImg1>
    <servicesSectionItemImg2>
      <Value><![CDATA[[
  {
    "key": "6d4b980e-979a-4479-a0f6-badc6f40a16b",
    "mediaKey": "36aa00ee-d19d-4cad-85ea-810e558fa285",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesSectionItemImg2>
    <servicesSectionItemImg3>
      <Value><![CDATA[[
  {
    "key": "4df76e72-38c9-45aa-b519-f031abb4acbf",
    "mediaKey": "aaf85d46-80f7-449e-a93a-94bd479350d1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesSectionItemImg3>
    <servicesSectionItemImg4>
      <Value><![CDATA[[
  {
    "key": "96480c63-c4fc-403f-8ae2-55ac7a8812e3",
    "mediaKey": "568f4dce-3334-4ab4-82d2-17ef3845e882",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesSectionItemImg4>
    <servicesSectionItemImg5>
      <Value><![CDATA[[
  {
    "key": "9feaec78-ca74-438d-9d87-7b51d51c8806",
    "mediaKey": "4f1ae135-cc52-42ae-9170-cc832c3d91ad",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesSectionItemImg5>
    <servicesSectionItemImg6>
      <Value><![CDATA[[
  {
    "key": "192cac56-0d0d-4acd-b201-c15dce362933",
    "mediaKey": "f0c030f5-b889-4508-aaa6-78dd0ce1dc6f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesSectionItemImg6>
    <servicesSectionItemText1>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesSectionItemText1>
    <servicesSectionItemText2>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesSectionItemText2>
    <servicesSectionItemText3>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesSectionItemText3>
    <servicesSectionItemText4>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesSectionItemText4>
    <servicesSectionItemText5>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesSectionItemText5>
    <servicesSectionItemText6>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </servicesSectionItemText6>
    <servicesSectionItemTitle1>
      <Value><![CDATA[Risk Management]]></Value>
    </servicesSectionItemTitle1>
    <servicesSectionItemTitle2>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </servicesSectionItemTitle2>
    <servicesSectionItemTitle3>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </servicesSectionItemTitle3>
    <servicesSectionItemTitle4>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </servicesSectionItemTitle4>
    <servicesSectionItemTitle5>
      <Value><![CDATA[Financial Advisor]]></Value>
    </servicesSectionItemTitle5>
    <servicesSectionItemTitle6>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </servicesSectionItemTitle6>
    <servicesSectionTitle>
      <Value><![CDATA[Our Services]]></Value>
    </servicesSectionTitle>
  </Properties>
</Content>