<?xml version="1.0" encoding="utf-8"?>
<Content Key="54dbb094-a708-4c81-941d-20cb284a0a18" Alias="Projects" Level="2">
  <Info>
    <Parent Key="a91df975-b91b-4572-a7dd-3e0e6abd0872">Home Page</Parent>
    <Path>/HomePage/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-09-21T09:18:50</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6d9a5844-d857-4844-b4b8-f248a04d02e5">projectsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>