<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2cab851-6430-4173-831f-528c212f1f26" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="81383ae6-8838-45f2-a95b-256b4009b263">Services</Parent>
    <Path>/HomePage/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>riskManagement</ContentType>
    <CreateDate>2024-09-21T17:55:54</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="06b676b8-ff70-4bc4-8ec6-139656bc09db">riskManagement</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <riskImages>
      <Value><![CDATA[[
  {
    "key": "1fd970a2-2804-4fd3-a197-1614d593f5f4",
    "mediaKey": "1e1c72e1-5944-4213-9963-b94a75313874",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImages>
    <riskImages2>
      <Value><![CDATA[[
  {
    "key": "9b88a787-a72f-4618-9f26-fc887d3811db",
    "mediaKey": "621c03db-5c73-4cd7-927b-a4bbe83d2300",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImages2>
    <riskImages3>
      <Value><![CDATA[[
  {
    "key": "c0dde3e4-8184-44d1-867b-c21f72bf4810",
    "mediaKey": "0851222c-67b0-44ea-870c-cc5235641117",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImages3>
  </Properties>
</Content>