<?xml version="1.0" encoding="utf-8"?>
<Content Key="81383ae6-8838-45f2-a95b-256b4009b263" Alias="Services" Level="2">
  <Info>
    <Parent Key="a91df975-b91b-4572-a7dd-3e0e6abd0872">Home Page</Parent>
    <Path>/HomePage/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-09-20T11:02:54</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ccec0de8-4dfc-4a52-bce9-7fb96f6f1098">services</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>