<?xml version="1.0" encoding="utf-8"?>
<Content Key="11fa55df-e601-4c62-9f2d-09d1b9322668" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-19T16:37:43</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <addressOnatrix>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </addressOnatrix>
    <bgBreadcrumb>
      <Value><![CDATA[[
  {
    "key": "83b279e1-6a86-4f09-871b-b3e24b701834",
    "mediaKey": "0b99e8e2-5321-48cd-a290-af495d1a0ba8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgBreadcrumb>
    <emailFormH2>
      <Value><![CDATA[How can we help you?]]></Value>
    </emailFormH2>
    <emailFormImg>
      <Value><![CDATA[[
  {
    "key": "ee5bd3f7-6861-4145-9bce-970ae1e36053",
    "mediaKey": "19161239-0e2c-46b1-aa9e-670bd336d1ea",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </emailFormImg>
    <emailFormP>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </emailFormP>
    <logoBusiness>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ac85730c-3e17-48bd-ada7-0e8ca5bdc19c",
      "udi": "umb://element/73bc89c3fdfc43dca8b4bfce2657ea7c",
      "logoBusiness": "[{\u0022key\u0022:\u0022c9f88450-67c9-4336-84df-10ca7beb8f37\u0022,\u0022mediaKey\u0022:\u0022afec926a-69e1-414e-b89a-1dd89ac6c3f9\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "ac85730c-3e17-48bd-ada7-0e8ca5bdc19c",
      "udi": "umb://element/1457e638f3d943929bd5b35bc3fbff3b",
      "logoBusiness": "[{\u0022key\u0022:\u002240f160f9-f069-494f-8f1e-2bd78cfdd2da\u0022,\u0022mediaKey\u0022:\u0022e5b95afa-452b-449a-8433-d1609ed182d9\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "ac85730c-3e17-48bd-ada7-0e8ca5bdc19c",
      "udi": "umb://element/9cd5d33f75dc4cbda5e5d65d53c63ba3",
      "logoBusiness": "[{\u0022key\u0022:\u002253a66ef5-7ffc-47ce-9075-ff14b105738f\u0022,\u0022mediaKey\u0022:\u0022b89f0f79-b2e6-4047-89d2-768c1f3d3519\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "ac85730c-3e17-48bd-ada7-0e8ca5bdc19c",
      "udi": "umb://element/68c3dc4329d54a94bc96a1459535a25f",
      "logoBusiness": "[{\u0022key\u0022:\u0022d3323bbe-66d2-421d-9b96-5224bc73cec6\u0022,\u0022mediaKey\u0022:\u00222169902e-d32f-4667-a514-58ea15506ac3\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "ac85730c-3e17-48bd-ada7-0e8ca5bdc19c",
      "udi": "umb://element/d7c10546fd564843ada07b0a54a50f5d",
      "logoBusiness": "[{\u0022key\u0022:\u0022dfbe8103-fb65-454e-b242-4674875fca72\u0022,\u0022mediaKey\u0022:\u0022d0b889ba-d103-4f32-8560-94fcf7fbb59b\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "ac85730c-3e17-48bd-ada7-0e8ca5bdc19c",
      "udi": "umb://element/e07a7be06c244a7e9ee5fcf21a727ff5",
      "logoBusiness": "[{\u0022key\u0022:\u002231fdb2ae-8f52-445c-b7f7-8476fc399a29\u0022,\u0022mediaKey\u0022:\u0022d789f2b9-a002-4dd6-a2bd-b1d6e61a8682\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/73bc89c3fdfc43dca8b4bfce2657ea7c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/1457e638f3d943929bd5b35bc3fbff3b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/9cd5d33f75dc4cbda5e5d65d53c63ba3",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/68c3dc4329d54a94bc96a1459535a25f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/d7c10546fd564843ada07b0a54a50f5d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e07a7be06c244a7e9ee5fcf21a727ff5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </logoBusiness>
    <logotypeOnatrix>
      <Value><![CDATA[[
  {
    "key": "45f4929b-27d4-49f3-98cf-543b98bdd11f",
    "mediaKey": "4a15cc6e-507b-494d-a4eb-ae3cb3fe20be",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotypeOnatrix>
    <navbarOnatrix>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "249ada73-014c-4bc1-a54c-725b6797f999",
      "udi": "umb://element/e1737edfbf25478db73b201ce5df9370",
      "navbarList": "[\u0022About \u0022]",
      "navbarLinkUrl": "/about-us-page"
    },
    {
      "contentTypeKey": "249ada73-014c-4bc1-a54c-725b6797f999",
      "udi": "umb://element/a6426208c170427f86845972baf6038d",
      "navbarList": "[\u0022Services \u0022]",
      "navbarLinkUrl": "/services"
    },
    {
      "contentTypeKey": "249ada73-014c-4bc1-a54c-725b6797f999",
      "udi": "umb://element/6a401ce95236404ead967be60315b8f5",
      "navbarList": "[\u0022Projects \u0022]",
      "navbarLinkUrl": "/projects"
    },
    {
      "contentTypeKey": "249ada73-014c-4bc1-a54c-725b6797f999",
      "udi": "umb://element/97dddd6d5d344e359101ddafc3d6b866",
      "navbarList": "[\u0022Contact \u0022]",
      "navbarLinkUrl": "/contact"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e1737edfbf25478db73b201ce5df9370",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/6a401ce95236404ead967be60315b8f5",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a6426208c170427f86845972baf6038d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/97dddd6d5d344e359101ddafc3d6b866",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </navbarOnatrix>
    <nextProjectImg>
      <Value><![CDATA[[
  {
    "key": "0ae11290-c554-4a23-99bf-77585259cfca",
    "mediaKey": "cc43191b-687e-46de-aed3-f6654433e73e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImg>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a0392388-eebb-44d1-a2b2-7dd07878230f",
      "udi": "umb://element/fdafaec3e66a447bba72f4fe0d45a20d",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com"
    },
    {
      "contentTypeKey": "a0392388-eebb-44d1-a2b2-7dd07878230f",
      "udi": "umb://element/7d7bbf3753234249bc82d6abf588069d",
      "platformName": "[\u0022X(Twitter)\u0022]",
      "platformAccountUrl": "https://x.com"
    },
    {
      "contentTypeKey": "a0392388-eebb-44d1-a2b2-7dd07878230f",
      "udi": "umb://element/a31185acafb44ad499ae24c372d2f556",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://www.linkedin.com"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fdafaec3e66a447bba72f4fe0d45a20d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/7d7bbf3753234249bc82d6abf588069d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a31185acafb44ad499ae24c372d2f556",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>