<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8eb29055-1c0c-4432-8ed8-4a300bd1fc6d" Alias="Block Grid Layout" Level="1">
  <Info>
    <Name>Block Grid Layout</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>