<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cbb73ef9-1af1-41b5-b14c-7fed2fa677b2" Alias="Contact Page - Contact Form -Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form -Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ae6a5702-721a-400e-af46-091e51543a54",
      "label": "**InputText** - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "37157f34-66eb-4e54-9eb9-abdc9bfcf2e5",
      "label": "**InputPassword** - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "9a087dfd-e467-4341-90ff-aefef1ab1e59",
      "label": "**InputEmail** - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "5ce6cc5c-cf73-45a1-aa77-fb4be42b152c",
      "label": "**InputTextArea** - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "25c71e5c-ddb4-4ac0-b52c-c9a485657a19",
      "label": "**Button** - {=buttonType}"
    },
    {
      "contentElementTypeKey": "4fa6047b-5f48-42ab-b5e1-88a90ded726b",
      "label": "InputSelect",
      "settingsElementTypeKey": "4fa6047b-5f48-42ab-b5e1-88a90ded726b"
    }
  ]
}]]></Config>
</DataType>