<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aec036c1-c0ed-4b1c-9eb6-2be201a98f88" Alias="Image Slider - Slides " Level="1">
  <Info>
    <Name>Image Slider - Slides </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ac85730c-3e17-48bd-ada7-0e8ca5bdc19c",
      "label": "logos"
    }
  ]
}]]></Config>
</DataType>