<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b4f0050-9640-407f-b8dc-796281226449" Alias=" Navbar Link " Level="1">
  <Info>
    <Name> Navbar Link </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "About ",
    "Services ",
    "Projects ",
    "Contact "
  ],
  "multiple": false
}]]></Config>
</DataType>