<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb64e257-5e3d-4582-98fd-f11ec5e9cb00" Alias="Navbar Onatrix - Block List " Level="1">
  <Info>
    <Name>Navbar Onatrix - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "249ada73-014c-4bc1-a54c-725b6797f999",
      "label": "**{=navbarList}** - {=navbarLinkUrl}"
    }
  ]
}]]></Config>
</DataType>