<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d2a06ec-882e-4fd6-9bd1-a8bc34b51854" Alias="SelectFinancial - Dropdown " Level="1">
  <Info>
    <Name>SelectFinancial - Dropdown </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Option 1",
    "Option 2",
    "Option 3",
    "Option 4"
  ]
}]]></Config>
</DataType>