<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ae7613b-f3d1-4f91-84b9-fd609c24f2c4" Alias="Settings Page - Social media Platforms " Level="1">
  <Info>
    <Name>Settings Page - Social media Platforms </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a0392388-eebb-44d1-a2b2-7dd07878230f",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>