@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	 ViewBag.Title = Model?.Value("pageTitle") ?? null;
}


 <section class="nextproject">
        @await Html.PartialAsync("static/NextProject")
</section>
@{
	var selection = Umbraco.ContentAtRoot().FirstOrDefault()
    .ChildrenOfType("aboutUs")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url()">@item.Name()</a>
		</li>
	}
</ul>

