@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	 ViewBag.Title = Model?.Value("pageTitle") ?? null;
}


 <section class="nextproject">
        @await Html.PartialAsync("static/NextProject")
</section>