@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	 ViewBag.Title = Model?.Value("pageTitle") ?? null;
}

  <link rel="stylesheet" href="/css/projects.css" />

<section class=" container">
          
    <div class="section-projects">
         <div class="articlesProjects">
                        <div class="articles-items">
                            <a href="/projects/annual/">
                                <img src="images/pj1.svg" alt="Project Image 1">
                            </a>
                            <div class="items-texts">
                                <h2>Annual Report for juva Inc.</h2>
                                <p><i class="fa-regular fa-calendar-days"></i> June 15, 2024</p>
                                <h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</h6>
                                <a href="/">Read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        
                        <div class="articles-items">
                            <a href="/">
                                <img src="images/pj2.svg" alt="Project Image 2">
                            </a>
                            <div class="items-texts">
                                <h2>Business Insights for SP Group...</h2>
                                <p><i class="fa-regular fa-calendar-days"></i> May 14, 2024</p>
                                <h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</h6>
                                <a href="/">Read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="articles-items">
                            <a href="/">
                                <img src="images/pj3.svg" alt="Project Image 2">
                            </a>
                            <div class="items-texts">
                                <h2>Financial Advisors for Irra Grou...</h2>
                                <p><i class="fa-regular fa-calendar-days"></i> February 6, 2024</p>
                                <h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.</h6>
                                <a href="/">Read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>                     
                        </div>
                        <div class="articles-items4">
                            <a href="/">
                                <img src="images/pj4.svg" alt="Project Image 2">
                            </a>
                            <div class="items-texts">
                                <h2>Budget Planning for Buccura In...</h2>
                                <p><i class="fa-regular fa-calendar-days"></i> January 3, 2024</p>
                                <h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.</h6>
                                <a href="/">Read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="pagination">                                            
                            <a href="#">Prev</a>
                            <a class="numberPagination" href="#">1</a>
                            <a class="numberPagination" href="#">2</a>                     
                            <a href="#">Next</a>                                             
                        </div>
                    </div>
                    <div class="tags">
                        <h2>Tags</h2>
                        <div class="tags-projects">
                            <a class="tags-items">Report</a>
                            <a class="tags-items">Business plans</a>
                            <a class="tags-items">Insights</a>
                            <a class="tags-items">Business</a>
                            <a class="tags-items">App</a>
                            <a class="tags-items">Project</a>
                            <a class="tags-items">Finance</a>
                            <a class="tags-items">Pricing</a>    
                        </div>
                        <div class="tags-form">
                             @await Html.PartialAsync("static/emailForm")
                        </div>
                 
           </div>
                
                

    </div>
                  
                
</section> 


 <section class="nextproject">
        @await Html.PartialAsync("static/NextProject")
</section>