@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;

      
}



@await Html.PartialAsync("static/OurServicesSection")



 <section class="nextproject">
      @await Html.PartialAsync("static/NextProject") 
 

 </section>