.annual {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    margin: 80px 0px;
    gap:60px;
}

.juva {
    width: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-right: 40px;
    border-right: 1px solid #ddd;
}


    .juva h3 {
        text-align: left;
        color: #4F5955;
        font-weight: bold;
    }

    .juva p {
        text-align: left;
        color: #4F5955;
        margin-bottom: 15px;
    }

    .juva .span {
        color: #4F5955;
        font-weight: bold;
    }

    .juva ul {
        padding: 0 10px;
    }

    .juva li {
        text-align: left;
        color: #4F5955;
        padding-top: 20px;
    }



.facilisis {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 20px 0px;
    gap: 15px;
}

    .facilisis img {
        width: 100%;
        height: auto;
        object-fit: fill;
    }

/* ----------- TAGS ----------- */
.tags {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

    .tags h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

.tags-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.tags-items {
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-size: 14px;
    color: #333;
}

    .tags-items:hover {
        background-color: #4e4d4d;
        color: #d9c3a9;
    }

@media (max-width: 1200px) {
    .tags {
        width: 100%;
        flex-direction: column;
        margin-top: 50px;
        gap: 30px;
        border-left: none;
    }

        .tags h2 {
            margin-bottom: 20px;
        }

    .tags-projects {
        width: 100%;
    }
}


.recent {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    text-align: left;
    gap: 20px;
}
@media (max-width:992px) {
    .annual {
        display: block;
        justify-content: center;
        align-items: flex-start;
        margin: 80px 0px;
        gap: 60px;
    }
    .juva {
        width: 100%;
        text-align: center;       
        border-right: none;
    }
        .juva img {
            padding: 20px;
            width: 100%;
            height: auto;
        }


    .facilisis {
        display: block;
        
    }
        .facilisis img {
            padding:20px;
            width: 100%;
            height: auto;
           
        }

    .recent {
       width: 100%;
       
    }   

}



        .recent h2 {
            color: #4F5955;
            font-weight: 700;
        }

        .recent h4 {
            color: #4F5955;
            font-weight: 700;
        }


        .recent p {
            width: 350px;
            height: auto;
            color: #4F5955;
            padding-top: 5px;
        }


    .recentItems {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 20px;
    }

        .recentItems img {
            width: 100%;
            height: auto;
        }


    .recentItems2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding-bottom: 20px;
    }




    /* ----------- MEDIA QUERIES ----------- */
    /*@media (max-width: 1200px) {
    section {
        flex-direction: column;
    }

    .articlesProjects {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .tags {
        width: 100%;
        flex-direction: column;
        margin-top: 50px;
        gap: 30px;
        border-left: none;
    }

        .tags h2 {
            margin-bottom: 20px;
        }

    .tags-projects, .tags-form {
        width: 100%;
    }

    .articles-items, .articles-items4 {
        flex-direction: column;
    }

        .articles-items img, .articles-items4 img {
            width: 100%;
            height: auto;
            margin-right: 0;
            margin-bottom: 20px;
        }
}

@media (max-width: 920px) {
    .articlesProjects {
        grid-template-columns: 1fr;
    }
}*/
