@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper 

@{

  var rootContents = UmbracoHelper.ContentAtRoot();
  var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

  var emailFormImg = settings?.Value<IPublishedContent>("emailFormImg")?.Url() ?? ""; 

   


}    
  
  <link rel="stylesheet" href="/css/PartialsSection/emailForm.css">
<script src="/Scripts/emailForm.js" defer></script>

<div class="tags-form">
        <div class="tags-img">
            <img src="@emailFormImg" alt="">
        </div>
        <h2>@settings?.Value("emailFormH2")</h2>  
        <p>@settings?.Value("emailFormP") </p>
    <div class="input-container">
        <i class="fas fa-envelope" id="submitEmail" style="cursor: pointer;"></i>
        <input type="text" placeholder="Email address" required>
    </div>

</div>