@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper 

@{
   
    
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

   
    var logoImg = settings?.Value<IPublishedContent>("logotypeOnatrix")?.Url() ?? ""; 
    var navbarLinkUrl = Model?.Value<IPublishedContent>("navbarLinkUrl")?.Url() ?? ""; 
    var navbarList = Model?.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("navbarList") ?? null;   
}

<section class="navbar">
            <div class="container">
                <a class="logo" href="/">
                    <img src="@logoImg" alt="">
                </a>
                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="menu-icon">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <nav>
                    <a href="/about-us-page/" class="nav-link">About</a>
                    <a href="/services" class="nav-link">Services</a>
                    <a href="/projects" class="nav-link">Projects</a>
                    <a href="/contact/" class="nav-link">Contact</a>
                </nav>
                <div class="search">
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
            </div>
</section>




               
