@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper 

@{

  var rootContents = UmbracoHelper.ContentAtRoot();
  var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
  var nextImg = settings?.Value<IPublishedContent>("nextProjectImg")?.Url() ?? ""; 

    var currentPageAlias = Umbraco.AssignedContentItem.ContentType.Alias;
    var isContactPage = currentPageAlias == "contactPage";


}     
  <link rel="stylesheet" href="/css/PartialsSection/Nextproject.css">


<section class ="nextproject @(isContactPage ? "custom-background" : "")">
                <div class="container">            
                    <img  src="@nextImg" alt="">
                    <div class="know">
                        <h1>Let us know about <br> your next project</h1>
                        <div class="infor">
                            <p class="infor-p"><i class="fa-solid fa-location-dot"></i>Office location</p>
                            <p class="infor-data">Klarabergsviadukten 90, 111 52 Stockholm</p>
                        </div>
                        <div class="infor">
                            <p class="infor-p"><i class="fa-solid fa-phone-flip"></i>Phone number</p>
                            <p class="infor-data">Phone number</p>
                        </div>
                        <div class="infor">
                            <p class="infor-p"><i class="fa-regular fa-envelope"></i>E-mail address</p>
                            <p class="infor-data">sales@onatrix.com</p>
                        </div>
                    </div>
                </div>
               
       </section>



       <!-- images/Group110.png -->