@using Microsoft.IdentityModel.Tokens
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var globalPartials = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "globalPartials");

    string backgroundColor = "#EAEAEA";

    var currentPage = Umbraco.AssignedContentItem;


    if (currentPage != null && currentPage.ContentType.Alias == " servicesPage")
    {

        backgroundColor = "#fff";
    }

}
<link rel="stylesheet" href="/css/PartialsSection/servicePartiel.css">


<section class="services" style="background-color: @backgroundColor;">
    <div class="container">
        <h5>OUR SERVICES</h5>
        <h1>We Provide The Solutions <br> To Grow Your Business Faster</h1>
        <div class="servicesCard">
            @for (int i = 1; i <= 6; i++)
            {

                var serviceTitle = globalPartials?.Value($"servicesSectionItemTitle{i}");
                var serviceImg = globalPartials?.Value<IPublishedContent>($"servicesSectionItemImg{i}")?.Url();
                var serviceText = globalPartials?.Value($"servicesSectionItemText{i}");

                if (!string.IsNullOrEmpty(serviceTitle?.ToString()) && !string.IsNullOrEmpty(serviceImg))
                {
                    <div class="items">
                        <h3>@serviceTitle</h3>
                        <a href="/services/risk-management/"> <img src="@serviceImg" alt=""></a>


                        @if (!string.IsNullOrEmpty(serviceText?.ToString()))
                        {
                            <p>@serviceText</p>
                        }
                        else
                        {
                            <p>Theres no texts here</p> 
                        }
                    </div>
                }
            }
        </div>
    </div>
</section>
