@using Microsoft.IdentityModel.Tokens
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
   var globalPartials = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "globalPartials");

   
   
}

<section class="services">
    <div class="container">
        <h5>OUR SERVICES</h5>
        <h1>We Provide The Solutions <br> To Grow Your Business Faster</h1>
        <div class="servicesCard">
            @for (int i = 1; i <= 6; i++)
            {

                var serviceTitle = globalPartials?.Value($"servicesSectionItemTitle{i}");
                var serviceImg = globalPartials?.Value<IPublishedContent>($"servicesSectionItemImg{i}")?.Url();
                var serviceText = globalPartials?.Value($"servicesSectionItemText{i}");

                if (!string.IsNullOrEmpty(serviceTitle?.ToString()) && !string.IsNullOrEmpty(serviceImg))
                {
                    <div class="items">
                        <h3>@serviceTitle</h3>
                        <img src="@serviceImg" alt="">

                       
                        @if (!string.IsNullOrEmpty(serviceText?.ToString()))
                        {
                            <p>@serviceText</p>
                        }
                        else
                        {
                            <p>Theres no texts here</p> 
                        }
                    </div>
                }
            }
        </div>
    </div>
</section>
