@using Microsoft.IdentityModel.Tokens
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var globalPartials = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "globalPartials");

    var currentPageAlias = Umbraco.AssignedContentItem.ContentType.Alias;
    var isContactPage = currentPageAlias == "servicesPage";


}
<link rel="stylesheet" href="/css/PartialsSection/servicePartiel.css">


<section class="services @(isContactPage ? "custom-background" : "")">
    <div class="container">
        <h5>OUR SERVICES</h5>
        <h1>We Provide The Solutions <br> To Grow Your Business Faster</h1>
        <div class="servicesCard">
            @for (int i = 1; i <= 6; i++)
            {

                var serviceTitle = globalPartials?.Value($"servicesSectionItemTitle{i}");
                var serviceImg = globalPartials?.Value<IPublishedContent>($"servicesSectionItemImg{i}")?.Url();
                var serviceText = globalPartials?.Value($"servicesSectionItemText{i}");

                if (!string.IsNullOrEmpty(serviceTitle?.ToString()) && !string.IsNullOrEmpty(serviceImg))
                {
                    <div class="items">
                        <h3>@serviceTitle</h3>
                        <a href="/services/risk-management/"> <img src="@serviceImg" alt=""></a>


                        @if (!string.IsNullOrEmpty(serviceText?.ToString()))
                        {
                            <p>@serviceText</p>
                        }
                        else
                        {
                            <p>Theres no texts here</p> 
                        }
                    </div>
                }
            }
        </div>
    </div>
    <div class="pagination">
        <a href="#">Prev</a>
        <a class="numberPagination" href="#">1</a>
        <a class="numberPagination" href="#">2</a>
        <a href="#">Next</a>
    </div>
</section>
