@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper 
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null; 
    var addressOnatrix = settings?.Value<string>("addressOnatrix") ?? "";
   
}



    <div class="container container-top">
        <div class="address">
           <!-- Klarabergsviadukten 90, 111 64 Stockholm -->
           @addressOnatrix
        </div>  
        <div class="socialmedia">
            @await Html.PartialAsync("socialmedia.cshtml")
         </div>
    </div>

