<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a663ed0-5370-48d1-9308-7fb2022baebe" Alias="01" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T16:54:25</CreateDate>
    <NodeName Default="01" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ekbni0dl/01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>