<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb6acfb3-58c9-42f9-b73d-e591db9ccd38" Alias="02" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T16:54:55</CreateDate>
    <NodeName Default="02" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ifzmqkos/02-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>