<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5b95afa-452b-449a-8433-d1609ed182d9" Alias="02" Level="2">
  <Info>
    <Parent Key="34ae39e2-6ea7-47a1-b4bc-1d38c60d750d">Logos Onatrix</Parent>
    <Path>/LogosOnatrix/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:41:44</CreateDate>
    <NodeName Default="02" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bdtbwbzq/02-7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>