<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e2cf1e9-e7d8-4b10-ade7-a1a6200ad5c1" Alias="03" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T16:55:18</CreateDate>
    <NodeName Default="03" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dngi3hgd/03-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>