<?xml version="1.0" encoding="utf-8"?>
<Media Key="b89f0f79-b2e6-4047-89d2-768c1f3d3519" Alias="03" Level="2">
  <Info>
    <Parent Key="34ae39e2-6ea7-47a1-b4bc-1d38c60d750d">Logos Onatrix</Parent>
    <Path>/LogosOnatrix/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:42:13</CreateDate>
    <NodeName Default="03" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rozd0wx3/03-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>