<?xml version="1.0" encoding="utf-8"?>
<Media Key="7304ad9c-de86-408e-b151-2fb8ee1e8d06" Alias="04" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T16:55:57</CreateDate>
    <NodeName Default="04" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nyiknem3/04-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>