<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0b889ba-d103-4f32-8560-94fcf7fbb59b" Alias="05" Level="2">
  <Info>
    <Parent Key="34ae39e2-6ea7-47a1-b4bc-1d38c60d750d">Logos Onatrix</Parent>
    <Path>/LogosOnatrix/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:42:49</CreateDate>
    <NodeName Default="05" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ja0bumqy/05-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>