<?xml version="1.0" encoding="utf-8"?>
<Media Key="d789f2b9-a002-4dd6-a2bd-b1d6e61a8682" Alias="06" Level="2">
  <Info>
    <Parent Key="34ae39e2-6ea7-47a1-b4bc-1d38c60d750d">Logos Onatrix</Parent>
    <Path>/LogosOnatrix/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:43:12</CreateDate>
    <NodeName Default="06" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jnhdwniz/06-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>