<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebeac73d-a461-4341-b762-1b4991197771" Alias="About Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T16:11:53</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>