<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e45a181-0185-4370-8543-29661267bf74" Alias="bg-Kevin-gardner" Level="2">
  <Info>
    <Parent Key="ebeac73d-a461-4341-b762-1b4991197771">About Us</Parent>
    <Path>/AboutUs/bgKevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T16:13:38</CreateDate>
    <NodeName Default="bg-Kevin-gardner" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/omoop1e4/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>