<?xml version="1.0" encoding="utf-8"?>
<Media Key="36e16ccd-25d8-435d-a62a-5622b4f9e54b" Alias="dot-map.png" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/dotMappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-16T15:38:05</CreateDate>
    <NodeName Default="dot-map.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/iktkpafr/dot-map-1-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>