<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc43191b-687e-46de-aed3-f6654433e73e" Alias="group110" Level="2">
  <Info>
    <Parent Key="34ae39e2-6ea7-47a1-b4bc-1d38c60d750d">Logos Onatrix</Parent>
    <Path>/LogosOnatrix/group110</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-22T09:30:56</CreateDate>
    <NodeName Default="group110" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/stjbk4qx/group-110.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>