<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba02849c-a728-47a2-a5bf-76951e48f419" Alias="image-24-min 1 (1).svg" Level="2">
  <Info>
    <Parent Key="33646b4c-262e-4a70-96a5-6658fb384e9f">Services Bilder</Parent>
    <Path>/ServicesBilder/image24Min11Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T17:01:03</CreateDate>
    <NodeName Default="image-24-min 1 (1).svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ny2lawbt/image-24-min-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>