<?xml version="1.0" encoding="utf-8"?>
<Media Key="5021cb79-5660-4ac3-aab2-5e3a2e211c21" Alias="image18" Level="2">
  <Info>
    <Parent Key="33646b4c-262e-4a70-96a5-6658fb384e9f">Services Bilder</Parent>
    <Path>/ServicesBilder/image18</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T16:58:11</CreateDate>
    <NodeName Default="image18" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rn1ihmt1/image-18-min-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>