<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ce8c25b-3585-4058-900c-8474089c9920" Alias="image-47" Level="2">
  <Info>
    <Parent Key="ebeac73d-a461-4341-b762-1b4991197771">About Us</Parent>
    <Path>/AboutUs/image47</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T16:14:13</CreateDate>
    <NodeName Default="image-47" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vf5fu5u4/image-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>