<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e1c72e1-5944-4213-9963-b94a75313874" Alias="image24" Level="2">
  <Info>
    <Parent Key="33646b4c-262e-4a70-96a5-6658fb384e9f">Services Bilder</Parent>
    <Path>/ServicesBilder/image24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T07:10:50</CreateDate>
    <NodeName Default="image24" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cphl35c5/image-24-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>