<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f1ae135-cc52-42ae-9170-cc832c3d91ad" Alias="image23" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/image23</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T17:52:27</CreateDate>
    <NodeName Default="image23" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y3olrlkj/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>