<?xml version="1.0" encoding="utf-8"?>
<Media Key="eeaae3d4-57f1-4bc5-bd5a-73e827581ab7" Alias="image13" Level="2">
  <Info>
    <Parent Key="33646b4c-262e-4a70-96a5-6658fb384e9f">Services Bilder</Parent>
    <Path>/ServicesBilder/image13</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T16:58:45</CreateDate>
    <NodeName Default="image13" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ezpaqdhk/image-13-min-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>