<?xml version="1.0" encoding="utf-8"?>
<Media Key="98cf72b9-61e6-4b03-b757-5e710ea07a90" Alias="image22" Level="2">
  <Info>
    <Parent Key="33646b4c-262e-4a70-96a5-6658fb384e9f">Services Bilder</Parent>
    <Path>/ServicesBilder/image22</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T17:00:32</CreateDate>
    <NodeName Default="image22" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jphh04x3/image-22-min-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>