<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8ce5a2f-78d4-44f1-9664-c28d24686c89" Alias="image21" Level="2">
  <Info>
    <Parent Key="33646b4c-262e-4a70-96a5-6658fb384e9f">Services Bilder</Parent>
    <Path>/ServicesBilder/image21</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T07:11:13</CreateDate>
    <NodeName Default="image21" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1xthycwp/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>