<?xml version="1.0" encoding="utf-8"?>
<Media Key="621c03db-5c73-4cd7-927b-a4bbe83d2300" Alias="image21" Level="2">
  <Info>
    <Parent Key="11100339-4bc0-4f8c-b27c-bb774c625d3a">Services Images</Parent>
    <Path>/ServicesImages/image21</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T08:40:19</CreateDate>
    <NodeName Default="image21" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fg5l3adi/image-21-min-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>