<?xml version="1.0" encoding="utf-8"?>
<Media Key="78220451-3baf-4c9d-aee8-b6f75af4664b" Alias="image21" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/image21</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T17:50:18</CreateDate>
    <NodeName Default="image21" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uo2jbgvu/image-21-min-2-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>