<?xml version="1.0" encoding="utf-8"?>
<Media Key="f27ec52f-cacd-46ad-a9e6-89aced8c615c" Alias="image-106" Level="2">
  <Info>
    <Parent Key="ebeac73d-a461-4341-b762-1b4991197771">About Us</Parent>
    <Path>/AboutUs/image106</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T16:14:38</CreateDate>
    <NodeName Default="image-106" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1v2nyegw/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>