<?xml version="1.0" encoding="utf-8"?>
<Media Key="568f4dce-3334-4ab4-82d2-17ef3845e882" Alias="image 22" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/image22</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T17:52:04</CreateDate>
    <NodeName Default="image 22" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/htyc1nbp/image-22-min-1-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>