<?xml version="1.0" encoding="utf-8"?>
<Media Key="c87450e8-4e06-4e74-bced-8562dbf4cb09" Alias="image23" Level="2">
  <Info>
    <Parent Key="33646b4c-262e-4a70-96a5-6658fb384e9f">Services Bilder</Parent>
    <Path>/ServicesBilder/image23</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T17:00:54</CreateDate>
    <NodeName Default="image23" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dlwnmkq3/image-23-min-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>