<?xml version="1.0" encoding="utf-8"?>
<Media Key="aaf85d46-80f7-449e-a93a-94bd479350d1" Alias="image13" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/image13</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T17:51:40</CreateDate>
    <NodeName Default="image13" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wtqfushm/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>