<?xml version="1.0" encoding="utf-8"?>
<Media Key="800dcf1b-efb5-4fa0-b969-4432ba96708a" Alias="img-1 1" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/img11</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T15:38:39</CreateDate>
    <NodeName Default="img-1 1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3fzk4yvo/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>