<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fe09e70-31b1-4634-9154-16a10c37f17c" Alias="Img-1" Level="2">
  <Info>
    <Parent Key="d5d83c45-439b-4b6e-97cd-4c39aac5eb93">Annual Images</Parent>
    <Path>/AnnualImages/Img1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T11:43:43</CreateDate>
    <NodeName Default="Img-1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qirfftnk/img-1-4-1-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>