<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4aede4e-d96e-417c-9ec5-8ab057a99d44" Alias="img-4-2" Level="2">
  <Info>
    <Parent Key="ebeac73d-a461-4341-b762-1b4991197771">About Us</Parent>
    <Path>/AboutUs/img42</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T16:16:28</CreateDate>
    <NodeName Default="img-4-2" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xrrbyjtv/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>