<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d747aeb-5081-45c7-9c75-80e0e15c006f" Alias="img47" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/img47</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T11:41:48</CreateDate>
    <NodeName Default="img47" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dhdnm120/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>