<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa01ba32-c714-427d-a778-8cd959a527b6" Alias="img47" Level="2">
  <Info>
    <Parent Key="d5d83c45-439b-4b6e-97cd-4c39aac5eb93">Annual Images</Parent>
    <Path>/AnnualImages/img47</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T11:42:41</CreateDate>
    <NodeName Default="img47" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yadlggap/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>