<?xml version="1.0" encoding="utf-8"?>
<Media Key="6de7df0b-c0d4-4835-ae15-9c35742b467a" Alias="img_choose_01" Level="2">
  <Info>
    <Parent Key="ebeac73d-a461-4341-b762-1b4991197771">About Us</Parent>
    <Path>/AboutUs/img_choose_01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T16:13:03</CreateDate>
    <NodeName Default="img_choose_01" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5freld4p/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>