<?xml version="1.0" encoding="utf-8"?>
<Media Key="23d90b99-6a6c-45a8-b117-bfcfec1aa888" Alias="img_choose_01_home" Level="2">
  <Info>
    <Parent Key="ebeac73d-a461-4341-b762-1b4991197771">About Us</Parent>
    <Path>/AboutUs/img_choose_01_home</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T16:15:34</CreateDate>
    <NodeName Default="img_choose_01_home" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/no1hxqlx/img_choose_01_home01-1-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>