<?xml version="1.0" encoding="utf-8"?>
<Media Key="1766a5fd-8e23-4cce-bb7d-fd649c9b06d2" Alias="imgSvg" Level="2">
  <Info>
    <Parent Key="d5d83c45-439b-4b6e-97cd-4c39aac5eb93">Annual Images</Parent>
    <Path>/AnnualImages/imgSvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T11:44:17</CreateDate>
    <NodeName Default="imgSvg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b2mmj3jy/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>