<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d8f3d6f-7cdb-4ffc-af4c-1526eb99c870" Alias="Kevin-gardner-1" Level="2">
  <Info>
    <Parent Key="ebeac73d-a461-4341-b762-1b4991197771">About Us</Parent>
    <Path>/AboutUs/KevinGardner1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T16:17:01</CreateDate>
    <NodeName Default="Kevin-gardner-1" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/twac1h4a/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>