<?xml version="1.0" encoding="utf-8"?>
<Media Key="34ae39e2-6ea7-47a1-b4bc-1d38c60d750d" Alias="Logos Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogosOnatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-18T13:40:01</CreateDate>
    <NodeName Default="Logos Onatrix" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>