<?xml version="1.0" encoding="utf-8"?>
<Media Key="446328d0-d1d3-4e3f-a417-52bc16f7cc92" Alias="Mail" Level="3">
  <Info>
    <Parent Key="24fc3d3c-2540-4647-9beb-8fc89976e5a5">Projects Images</Parent>
    <Path>/HomeImages/ProjectsImages/Mail</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T18:18:14</CreateDate>
    <NodeName Default="Mail" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ekkndjwi/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>