<?xml version="1.0" encoding="utf-8"?>
<Media Key="19161239-0e2c-46b1-aa9e-670bd336d1ea" Alias="Mail (1).svg" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/Mail1Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T14:13:55</CreateDate>
    <NodeName Default="Mail (1).svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zoxlj4zx/mail-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>