<?xml version="1.0" encoding="utf-8"?>
<Media Key="20b81840-b8b8-4365-bbac-542d50c5fc1b" Alias="Mask-Group" Level="2">
  <Info>
    <Parent Key="ebeac73d-a461-4341-b762-1b4991197771">About Us</Parent>
    <Path>/AboutUs/MaskGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T16:16:01</CreateDate>
    <NodeName Default="Mask-Group" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wksbvqvd/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>