<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc75c304-a3eb-4761-a302-96260e98891a" Alias="onlineSignature" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/onlineSignature</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T15:06:11</CreateDate>
    <NodeName Default="onlineSignature" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4z5nohxq/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>