<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb5130e9-24ea-4a2a-9494-ead9deb615a4" Alias="pj1" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/pj1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T17:03:11</CreateDate>
    <NodeName Default="pj1" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dogpgwpr/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>