<?xml version="1.0" encoding="utf-8"?>
<Media Key="31186f87-ad42-420a-a458-9f5b80e1ed93" Alias="pj1" Level="3">
  <Info>
    <Parent Key="24fc3d3c-2540-4647-9beb-8fc89976e5a5">Projects Images</Parent>
    <Path>/HomeImages/ProjectsImages/pj1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T18:16:50</CreateDate>
    <NodeName Default="pj1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oxjlvu0z/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>