<?xml version="1.0" encoding="utf-8"?>
<Media Key="54b77b2a-e567-41b1-9c50-2d8765729d26" Alias="pj2" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/pj2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T17:02:55</CreateDate>
    <NodeName Default="pj2" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1ddblnt2/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>