<?xml version="1.0" encoding="utf-8"?>
<Media Key="284b2017-2b68-49ce-b6a5-4858135abad2" Alias="pj3" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/pj3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T17:02:43</CreateDate>
    <NodeName Default="pj3" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2woptstt/pj3-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>