<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ed212b3-3c72-4991-ad82-193e78e52e63" Alias="pj3" Level="3">
  <Info>
    <Parent Key="24fc3d3c-2540-4647-9beb-8fc89976e5a5">Projects Images</Parent>
    <Path>/HomeImages/ProjectsImages/pj3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T18:17:23</CreateDate>
    <NodeName Default="pj3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/igxhbldj/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>