<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd1c1cf1-72d4-41c2-817c-cf4cf9bb7642" Alias="pj4" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/pj4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T17:01:34</CreateDate>
    <NodeName Default="pj4" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aoql2l4p/pj4-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>