<?xml version="1.0" encoding="utf-8"?>
<Media Key="5558d512-da0e-4899-9e73-46c67c580053" Alias="post2" Level="2">
  <Info>
    <Parent Key="33646b4c-262e-4a70-96a5-6658fb384e9f">Services Bilder</Parent>
    <Path>/ServicesBilder/post2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T07:11:38</CreateDate>
    <NodeName Default="post2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2bupvnyv/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>