<?xml version="1.0" encoding="utf-8"?>
<Media Key="0851222c-67b0-44ea-870c-cc5235641117" Alias="post1" Level="2">
  <Info>
    <Parent Key="11100339-4bc0-4f8c-b27c-bb774c625d3a">Services Images</Parent>
    <Path>/ServicesImages/post1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T08:40:51</CreateDate>
    <NodeName Default="post1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/10pph0vl/post2-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>