<?xml version="1.0" encoding="utf-8"?>
<Media Key="24fc3d3c-2540-4647-9beb-8fc89976e5a5" Alias="Projects Images" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/ProjectsImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-21T18:09:00</CreateDate>
    <NodeName Default="Projects Images" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties />
</Media>