<?xml version="1.0" encoding="utf-8"?>
<Media Key="33646b4c-262e-4a70-96a5-6658fb384e9f" Alias="Services Bilder" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesBilder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T07:10:14</CreateDate>
    <NodeName Default="Services Bilder" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>