<?xml version="1.0" encoding="utf-8"?>
<Media Key="11100339-4bc0-4f8c-b27c-bb774c625d3a" Alias="Services Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-29T08:39:47</CreateDate>
    <NodeName Default="Services Images" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>