<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc6f604a-ffbb-4996-af29-b1bc2c8d1ae2" Alias="sl-home" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/slHome</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T15:05:46</CreateDate>
    <NodeName Default="sl-home" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xdon0lva/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>