<?xml version="1.0" encoding="utf-8"?>
<Media Key="473be75d-20b8-459a-8c45-35bf5150e231" Alias="sl-home" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/slHome</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T18:26:50</CreateDate>
    <NodeName Default="sl-home" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v3njtjnd/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>