<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf1a13eb-2586-4629-9313-a8d1b18ba393" Alias="starPng" Level="2">
  <Info>
    <Parent Key="ebeac73d-a461-4341-b762-1b4991197771">About Us</Parent>
    <Path>/AboutUs/starPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T15:42:37</CreateDate>
    <NodeName Default="starPng" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mtmfy4pp/rating-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>