<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b99e8e2-5321-48cd-a290-af495d1a0ba8" Alias="Title (1).svg" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/Title1Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T16:03:34</CreateDate>
    <NodeName Default="Title (1).svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cbkdx0j0/title-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>