<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad20d29d-bc23-4067-8526-e6fb531eff77" Alias="video" Level="2">
  <Info>
    <Parent Key="f654996e-031c-4da0-955c-512cc265f765">Home Images</Parent>
    <Path>/HomeImages/video</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T15:53:33</CreateDate>
    <NodeName Default="video" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n3xjetzy/video-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>