<?xml version="1.0" encoding="utf-8"?>
<Media Key="b021bd79-d752-47a6-a4f4-7802ddf8c476" Alias="video" Level="2">
  <Info>
    <Parent Key="491edbc1-7918-462f-be92-9946e32ce5ba">Videos</Parent>
    <Path>/Videos/video</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2024-09-17T07:21:19</CreateDate>
    <NodeName Default="video" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ylpsdqn/video.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>