<?xml version="1.0" encoding="utf-8"?>
<Media Key="491edbc1-7918-462f-be92-9946e32ce5ba" Alias="Videos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T07:21:04</CreateDate>
    <NodeName Default="Videos" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>