<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5c8c9c1-1692-431e-bd75-53e4042dfb92" Alias="video.mp4" Level="2">
  <Info>
    <Parent Key="491edbc1-7918-462f-be92-9946e32ce5ba">Videos</Parent>
    <Path>/Videos/videomp4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2024-09-30T05:42:47</CreateDate>
    <NodeName Default="video.mp4" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kzrbac4n/video.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>